.App {
  height: 100vh;
  width: 100%;
  background-image: url(//ssl.gstatic.com/finance/images/landingpage4.svg);
}
.TickersBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.ResetButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #212221;
  background-color: #dfe0df;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.ResetButton:hover {
  background-color: #dfe0df;
}

.ResetButton:active {
  background-color: #dfe0df;
  box-shadow: 0 5px #858585;
  transform: translateY(4px);
}
/* }
.button {
  height: 100px;
  width: 200px;
} */
